html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  background-color: cyan;
  text-transform: capitalize;
  color: black;
  font-size: 16px;
}
.encabezado {
  text-align: center;
  font-size: 3.8rem;
  color: green;
}
.formulario {
  background-color: gray;
  width: min(80rem, 100%);
  margin: 0 auto 5rem auto;
  padding: 2rem;
  border-radius: 1rem;
}
.formulario fieldset {
  border-style: none;
}
.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  margin: 0 auto 2rem auto;
  color: #ffffff;
  font-weight: bold;
}
.form-titulo {
  margin-left: 28rem;
  color: green;
}
.caja {
  margin-bottom: 1rem;
}
.caja label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  margin-left: 2rem;
}
input {
  width: 100%;
  border: none;
  padding: 1rem 0;
  outline: none;
  text-align: center;
}
